
.header{
    width: 100%;
    position: relative;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #F5F5F7;
  }
  
  .navBar{
      position: relative;
      max-width: 1400px;
      width: 95%;
  }
  
  .logoContainer{
      display: flex;
      flex-direction: row;
      position: absolute;
      left: 0;
      height: 100%;
      width: auto;
  }
  .Logo{
      margin-bottom: 20px;
  }
  
  .logoName{
      height: 100%;
      padding: 5px ;
     
  }

  .logo_title{
      font-weight: 700;
  }
  
  .navContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: absolute;
      right: 0;
  }


  .navItem{
      list-style: none;
      margin: 20px;
      font-size: 22px;
  }
  .MenuIcon{
      position: absolute;
      right: 0;
      display: none;
      top: 50%;
      transform: translate(0%, -50%);
  }

  .CloseMenuIcon{
      display: none;
  }

  @media screen and (max-width: 768px) {
      .navContainer{
          position: absolute;
          height: 100vh;
          z-index: 100;
          flex-direction: column;
          background: #F5F5F7;
          width: 0;
          left: 0;
          transition: all .3s;
      }

      .navContainer.active{
        width: 100%;
        opacity: 1;
     }
      .navContainer.active .navItem{
        transform: translateX(0);
     }
      .navContainer.active .CloseMenuIcon{
        transform: translateX(0);
     }

     .navItem{
         transform: translateX(-130%);
     }
     

      .CloseMenuIcon{
          display: block;
          position: absolute;
          top: 3%;
          right: 5%;
          transform: translateX(-130%);
      }

      .navBar{
          width: 90%;
      }

      .MenuIcon{
          display: block;
      }
      
  }
  