/* :root{
  --tag-main-color: rgb(123, 100, 255);
} */

.postSection{
    position: relative;
    width: 100%;
    height: auto;
    padding: 5% 0;
    display: flex;
    max-width: 1400px;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    
  }

  .post_section_header{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 2%;

  }
  
  .postSectionTitle{
    position: relative;
    top: 2%;
    padding: 0px 0;
    left: 0;
    font-size: 45px;
  }
  
  .seeall_btn{
    position: relative;
    right: 0;
    font-size: 25px;
    color: rgb(144, 144, 144);
  }
  
  .postContainer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1.5% 2%;
    background: rgb(255, 255, 255);
    margin: 1% 0;
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
    
  }

  .postContainer .postbox__postDetails{
    display: flex;
    flex-direction: column;
  }

  /* .postContainer .post_coverImage{
    position: relative;
    width: 25%;
    min-height: 100%;
 
  } */
   .coverimage{
    width: 25%;
    
    height: auto;
  }
  
  .postTitle{
    font-size: 40px;
  }

  .postDescription{
    width: 90%;
    font-size: 20px;
    color: rgb(102, 102, 102);
  }
  
  .postTag{
    position: relative;
    background: rgb(117, 75, 255);
    padding: .8% 1.2%;
    width: fit-content;
    font-size: 20px;
    border-radius: 320px;
    text-align: center;
    color: #fff;
    
  }

  .postBottomContainer{
    margin-top: 50px;
    padding: 5px;
    
  }
  
  .postdate{
    font-size: 18px;
    color: rgb(104, 104, 104);
  }
  .postReadtime{
    font-size: 18px;
    margin: 0 30px;
    color: rgb(104, 104, 104);
  }
  
  
  
  
  
  
  
  
  /* separate post div  */
  
  .PostContentWrapper{
    position: relative;
    padding: 5%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: rgb(255, 255, 255);
  }
  
  .PostContentWrapper p{
    font-size: 20px;
    
  }
  
  .postheader{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .postContentTitle{
    font-size: 45px;
  }
  .postContentDescription{
    width: 50%;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
  }
  
  .postDateandTime{
    padding: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: 600;
  }
  
  
  
  .postdiv{
    position: relative;
    background: rgb(255, 255, 255);
    width: 80%;
    margin: auto;
    font-size: 20px;
    max-width: 1500px;
    padding: 5%;
  }
  
  .author_Details_Container{
    width: 75%;
    position: relative;
    height: auto;
    padding: 2%;
  }
  
  .author_container_title{
    position: absolute;
    top: 0;
    font-size: 35px;
    left: 3%;
  }
  
  .author_image{
    position: relative;
    width: 8%;
    height: 100%;
  }
  
  .authorCard{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 4% 0;
    
  }
  
  .author_card_texts{
    padding: .5% 2%;
  }
  
  .author_name{
    font-size: 25px;
    
  }
  .author_about{
    font-size: 22px;
  }
  /* .author_description{
    font-size: 25px;
  } */
  
  .author_Details_Container p{
    width: 80%;
    font-size: 22px;
    line-height: 1.5;
    color: rgb(68, 68, 68);
  }
  .postdiv pre{
    background: rgb(233, 233, 233);
    padding: 5%;
  }
  
  .postdiv p{
    width: 100%;
  }





  /* Responsiveness  */

  @media screen and (max-width: 768px) {
    .postContainer{
      width: 90%;
      flex-direction: column-reverse;
      margin: 3% auto;
      border-radius: 40px;
      padding: 8% 1%;
    }

    .post_section_header{
      width: 90%;
    }

    .coverimage{
      width: 90%;
      max-height: 100%;
      margin: auto;
      margin-bottom: 8%;
    }

   .postbox__postDetails{
      width: 90%;
      margin: auto;
    }


    .postTitle{
      width: 95%;
      font-size: 45px;
    }

    .postDescription{
      line-height: 1.5;
      font-size: 25px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3 !important;
      -webkit-box-orient: vertical;
    }
    .postTag{
      padding: 2% 3%;
      font-size: 25px;
    }

    .postdate, .postReadtime{
      font-size: 20px;
    }

   
    
  }

  @media screen and (max-width: 640px) {
    .postSectionTitle{
      font-size: 36px;
    }
    .seeall_btn{
      font-size: 20px;
    }
    .postTitle{
      font-size: 36px;
    }
    .postDescription{
      font-size: 20px;
    }
    .postTag{
      font-size: 20px;
    }
    .postdate, .postReadtime{
      font-size: 15px;
    }
    
  }
  @media screen and (max-width: 570px) {
    .postSectionTitle{
      font-size: 28px;
    }
    .seeall_btn{
      font-size: 20px;
    }
    .postTitle{
      font-size: 28px;
    }
    .postDescription{
      font-size: 17px;
    }
    .postTag{
      font-size: 17px;
    }
    
    
  }
  @media screen and (max-width: 453px) {
    .postSectionTitle{
      font-size: 23px;
    }
    .seeall_btn{
      font-size: 15px;
    }
    .postTitle{
      font-size: 25px;
    }
    .postDescription{
      font-size: 15px;
    }
    .postTag{
      font-size: 15px;
    }
    
    
  }
  
  @media screen and (max-width: 396px) {
    .postSectionTitle{
      font-size: 20px;
    }
    .seeall_btn{
      font-size: 15px;
    }
    .postTitle{
      font-size: 22px;
    }
    .postDescription{
      font-size: 13px;
    }
    .postTag{
      font-size: 13px;
    }
    
    
  }
  