/* :root{
  --tag-main-color: rgb(123, 100, 255);
} */

.postSection{
    position: relative;
    width: 100%;
    height: auto;
    padding: 3% 0;
    display: flex;
    max-width: 1420px;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    
  }

  
@media only screen and (min-width: 2000px) {
  .postSection{
      padding: 90px 0;
  }
}


  .post_section_header{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 93%;
    align-items: center;
    margin-bottom: 2%;

  }
  
  .postSectionTitle{
    position: relative;
    top: 2%;
    padding: 0px 0;
    left: 0;
    font-size: 45px;
  }
  
  .seeall_btn{
    position: relative;
    right: 0;
    margin-top: 1%;
    font-size: 25px;
    color: rgb(144, 144, 144);
    width: fit-content;
  }
  
  .postContainer{
    position: relative;
    width: 95%;
    height: auto;
    padding: 1.5% 2%;
    margin: 1% auto;
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
    background: #fff;
    
  }

  body[data-theme="dark"] .postContainer{
    background: #252525;
  }

  .postContainer .postbox__postDetails{
    display: flex;
    flex-direction: column;
  }

  /* .postContainer .post_coverImage{
    position: relative;
    width: 25%;
    min-height: 100%;
 
  } */
   .coverimage{
    width: 25%;
    
    height: auto;
  }
  
  .postTitle{
    position: relative;
    font-size: 40px;
    width: 93%;
  }

  @media screen and (min-width: 769px) {
    .postTitle{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1 !important;
      -webkit-box-orient: vertical;
    }
    
  }

  .postDescription{
    position: relative;
    width: 90%;
    font-size: 20px;
    color: rgb(102, 102, 102);
    
  }
  
  .postTag{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #fff;
  }

  .postTag .tagItem{
    position: relative;
    background: rgb(171, 68, 255);
    padding: .8% 1.2%;
    width: fit-content;
    font-size: 20px;
    border-radius: 320px;
    text-align: center;
    color: #fff;
    margin: 0 .5%;
  }

 

  .postTag .tagItem:nth-child(even){
    background: rgb(3, 187, 110);
  }
  

  .postBottomContainer{
    width: 100%;
    margin-top: 5%;
    padding: 1% 0 ;
    
  }

 .span{
    margin: 0 8%;
    min-width: fit-content;
    text-align: center;
  }

  .span_desktop{
    width: 100%;
    margin: 0 2%;
    text-align: left;
  }
  
  .postdate{
    font-size: 18px;
    color: rgb(104, 104, 104);
  }
  .postReadtime{
    font-size: 18px;
    color: rgb(104, 104, 104);
  }
  
  
  
  
  
  
  
  
  /* separate post div  */
  
  .PostContentWrapper{
    position: relative;
    padding: 5%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: rgb(255, 255, 255);
  }
  
  /* .PostContentWrapper p{
    font-size: 20px;
    
  } */
  
  .postheader{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .postContentTitle{
    font-size: 45px;
  }
  .postContentDescription{
    width: 50%;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
  }
  
  .postDateandTime{
    padding: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: 600;
  }
  
  
  
  .postdiv{
    position: relative;
    background: rgb(255, 255, 255);
    width: 80%;
    margin: auto;
    font-size: 20px;
    max-width: 1500px;
    padding: 5%;
  }
  
  .author_Details_Container{
    width: 75%;
    position: relative;
    height: auto;
    padding: 2%;
  }

  .author_header{
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .author_container_title{
    position: relative;
    font-size: 35px;
  }
  
  .author_image{
    position: relative;
    width: 8%;
    height: 100%;
  }
  
  .authorCard{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 4% 0;
    
  }
  
  .author_card_texts{
    padding: .5% 2%;
  }
  
  .author_name{
    font-size: 25px;
    
  }
  .author_about{
    font-size: 22px;
  }
  /* .author_description{
    font-size: 25px;
  } */
  
  .author_Details_Container p{
    width: 80%;
    font-size: 22px;
    line-height: 1.5;
    color: rgb(68, 68, 68);
  }
  .postdiv pre{
    background: rgb(233, 233, 233);
    padding: 5%;
  }
  
  .postdiv p{
    width: 100%;
  }

  .post_thumnail{
    width: 100%;
    margin-top: 4%;
  }

  .postcontentCover_image{
    width: 100%;
  }

  .postTag_post_view{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .postTag_post_view .tagItem{
    position: relative;
    background: rgb(144, 75, 255);
    padding: .8% 1.2%;
    width: fit-content;
    font-size: 20px;
    border-radius: 320px;
    text-align: center;
    color: #fff;
    margin: 0 .5%;
  }

  .postTag_post_view .tagItem:nth-child(even){
    background: rgb(3, 187, 110);
  }


  @media screen and (max-width: 1492px) {
    .postSectionTitle{
      font-size: 35px;
    }

    .seeall_btn{
      font-size: 20px;
    }
    .postTitle{
      font-size: 30px;
    }
  
    .postDescription{
      font-size: 17px;
    }

    .postTag div{
      font-size: 15px;
    }

    .postdate, .postReadtime{
      font-size: 15px;
    }
    
  }
  @media screen and (max-width: 1063px) {
    .postSectionTitle{
      font-size: 28px;
    }

    .seeall_btn{
      font-size: 17px;
    }
    .postTitle{
      font-size: 25px;
    }
  
    .postDescription{
      font-size: 15px;
    }

    .postTag div{
      font-size: 13px;
    }

    .postdate, .postReadtime{
      font-size: 13px;
    }
    
  }
  @media screen and (max-width: 918px) {
    .postSectionTitle{
      font-size: 25px;
    }

    .seeall_btn{
      font-size: 15px;
    }
    .postTitle{
      font-size: 22px;
    }
  
    .postDescription{
      font-size: 12px;
    }

    .postTag div{
      font-size: 10px;
    }

    .postdate, .postReadtime{
      font-size: 10px;
    }
    
  }























  /* Responsiveness  */

  @media screen and (max-width: 768px) {
    .postSectionTitle{
      font-size: 43px;
    }

    .seeall_btn{
      font-size: 30px;
    }
    .postContainer{
      width: 90%;
      flex-direction: column-reverse;
      margin: 3% auto;
      border-radius: 40px;
      padding: 6% 1%;
    }

    .post_section_header{
      width: 90%;
    }

    .coverimage{
      width: 90%;
      max-height: 100%;
      margin: auto;
      margin-bottom: 8%;
    }

   .postbox__postDetails{
      width: 90%;
      margin: auto;
    }


    .postTitle{
      width: 95%;
      font-size: 45px;
    }

    .postDescription{
      line-height: 1.5;
      font-size: 25px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3 !important;
      -webkit-box-orient: vertical;
    }
    .postTag div{
      padding: 2% 3%;
      font-size: 25px;
    }

    .postdate, .postReadtime{
      font-size: 20px;
    }


    /* postsview  */

      
  .postContentTitle{
    font-size: 35px;
    text-align: center;
  }

  .postContentDescription{
    width: 90%;
    font-size: 18px;
    font-weight: 300;
    color: rgb(71, 71, 71);
  }

  .postcontentCover_image{
    width: 100%;
  }
  
  .postdiv{
      width: 95%;
      padding: 2%;
    }

    .postdiv p{
      line-height: 1.7;
      font-size: 20px;
    }

    .author_Details_Container{
      width: 100%;
    }

    .author_container_title{
      font-size: 30px;
    }


    .author_Details_Container p,  .author_about{
      width: 95%;
      font-size: 18px;
    }

    .author_name{
      font-size: 25px;
      
    }

    .author_image{
      width: 58px;
    }

    .author_card_texts{
      margin-left: 2%;
    }

    .postTag_post_view div{
      font-size: 15px;
      padding: 1% 3%;
    }

    .postDateandTime{
      margin-top: 3%;
    }
    .span, .span_desktop{
      font-size: 12px;
    }
  
   
    
  }

  @media screen and (max-width: 640px) {


    .postSectionTitle{
      font-size: 36px;
    }
    .seeall_btn{
      font-size: 20px;
    }
    .postTitle{
      font-size: 36px;
    }
    .postDescription{
      font-size: 20px;
    }
    .postTag div{
      font-size: 20px;
    }
    .postdate, .postReadtime{
      font-size: 15px;
    }


    /* separate  */
    .postContentTitle{
      font-size: 30px;
    }
  
    .postContentDescription{
      font-size: 17px;
    }

    .postdiv p{
      font-size: 18px;
    }

    
    .author_container_title{
      font-size: 25px;
    }


    .author_Details_Container p,  .author_about{
      font-size: 16px;
    }

    .author_name{
      font-size: 22px;
      
    }

    .author_image{
      width: 55px;
      
    }



   
    
  }
  @media screen and (max-width: 570px) {
    .postContainer{
      border-radius: 30px;
      
    }
    .postSectionTitle{
      font-size: 28px;
    }
    .seeall_btn{
      font-size: 20px;
    }
    .postTitle{
      font-size: 28px;
    }
    .postDescription{
      font-size: 17px;
    }
    .postTag div{
      font-size: 17px;
    }

    .postContentTitle{
      font-size: 27px;
    }

    .postTag_post_view div{
      font-size: 15px;
      padding: 1.8% 3%;
    }

    .span, .span_desktop{
      font-size: 12px;
    }
  
    
    
  }
  @media screen and (max-width: 453px) {
    .seeall_btn{
      font-size: 15px;
    }
    .postTitle{
      font-size: 25px;
    }
    .postDescription{
      font-size: 15px;
    }
    .postTag div{
      font-size: 15px;
    }

    .postContentTitle{
      font-size: 25px;
    }

    .postContentDescription{
      font-size: 15px;
    }

    .author_container_title{
      font-size: 20px;
    }


    .author_Details_Container p,  .author_about{
      font-size: 13px;
    }

    .author_name{
      font-size: 18px;
      
    }

    
    .author_image{
      width: 40px;
      margin-top: 1.3%;
    }

  
  
  }
  
  @media screen and (max-width: 396px) {
    .postSectionTitle{
      font-size: 26px;
    }
   
    .postTitle{
      font-size: 22px;
    }
    .postDescription{
      font-size: 13px;
    }
    .postTag div{
      font-size: 13px;
    }

    .span, .span_desktop{
      font-size: 10px;
    }

    .postdiv p{
      font-size: 15px;
    }

    .postContentTitle{
      font-size: 25px;
    }

    .postContentDescription{
      font-size: 15px;
    }

    .author_container_title{
      font-size: 20px;
    }


    .author_Details_Container p,  .author_about{
      font-size: 12px;
    }

    .author_name{
      font-size: 17px;
      
    }
    .postTag_post_view div{
      font-size: 12px;
      padding: 1.8% 3%;
    }

  

  }
  